.App {
  text-align: center;
}
.App-main {
  padding:20px;
  width:100%;
}
.App-results {
  width: 50%;
  float: left;
  display: inline-block;
}
.App-json {
  text-align: left;
}
.App-average {
  font-size: 30px;
}